*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
article{
    height: 100%;
    box-sizing:border-box;
    text-align: center;
}
#titulo {
    font-size: 3rem;
}
header{
    overflow: hidden;
    box-sizing:border-box;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    background: #2b4570;
    height: auto;
    width: 100%;
    line-height: 100px;
    color:white;
    border-bottom: 3px solid black;
    position: relative;
}
section{
    box-sizing:border-box;
    padding-bottom: 10px;
    font-family: 'Patrick Hand', cursive;
    background: #a8d0db;
    text-align: center;
    padding-top: 10px;
    width: 100%;
}
#bienvenida{
    font-size: 80px;
    width: 100%;
}
#descripcion{
    font-size: 40px;
}
#desicion{
    font-size: 30px;
}
.botones{
    font-family: 'Patrick Hand', cursive;
    transition: background-color .5s;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}
.botones:hover{
    color: #1883ba;
    background-color: #ffffff;
  }
body{
    background-color: #a8d0db;
}
footer{
    overflow: hidden;
    box-sizing:border-box;
    font-family: 'Fredoka One', cursive;
    border-top: 3px solid black;
    background: #7180ac;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    color:white;
    font-size: 3rem;
    align-self: flex-end;
}
.base{
    align-self: flex-end;
    transition: background-color .5s;
    text-decoration: none;
    color:#ffffff
}
.base:hover {
    color: #a8d0db;
  }
form > *{
    display: block;
    margin: 0 auto;
}
.formulario{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.formulario:hover {
    border: 1px solid #000;
}
.formulario[type='password'] {
    margin-bottom: 10px;
}
form > label {
    margin: 0 auto;
    position: relative;
}
.header2{
    position: fixed;
}
.exp{
    padding-top: 8%;
    background: #a8d0db;
    padding-bottom: 2%;
    text-align: left;
    width: 100%;
    float: left;
    padding-left: 10%
}
.nexp{
    padding-top: 6%;
    background: #a8d0db;
    padding-bottom: 2%
}
#left{
    text-align: left;
    width: 50%;
    float: left;
    padding-left: 5%;
}
#rigth{
    text-align: left;
    width: 50%;
    float: right;
    padding-right: 5%;
}
.nombre{
    transition: background-color .5s;
    text-decoration: none;
    color:black
}
.nombre:hover {
    color: white;
  }
#descargar{
    padding-left: 10%;
    background: #a8d0db;
    padding-bottom: 2%;
}
.nexp{
    float:center;
}
.caratula{
    align-items: center;
}
.redirex{
    transition: background-color .5s;
    text-decoration: none;
    color:black
}
.redirex:hover {
    color: white;
  }
nav{
    padding-top: 110px;
    background: #a8d0db;
    height: 100px;
    width: 100%;
}
nav ul{
    width: 100%;
    float: right;
    padding-right: 20px;
    background: #a8d0db;
}
nav ul li{
    
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    color: #1883ba;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}
#check{
    display: none;
}
.disclaimer {
    visibility: hidden;
    display: none;
}