
body {
background: rgb(205,112,223);
background: linear-gradient(90deg, rgba(205,112,223,1) 33%, rgba(180,21,171,1) 70%);
}

body::fullscreen {
	background: red;
}

form {
	background: #FFFFFFFF;
<<<<<<< HEAD
	padding: 20px;
	margin: 10px;
	width: 30%;
=======
	padding: 50px;
	margin: 10px;
	width: 25%;
>>>>>>> 158b28979577a2cdc9c46fae424c304ffed0a086
	height: 39.5rem;
}

h2 {
	text-align: center;
	font-family: sans-serif;
}

label {
	display: block;
	margin-bottom: 10px;
	font-size: 10px;
}

input, textarea {
<<<<<<< HEAD
 	padding: 5px;
=======
 	padding: 10px;
>>>>>>> 158b28979577a2cdc9c46fae424c304ffed0a086
 	box-sizing: border-box;
 	margin-bottom: 20px;
	outline: none;
	border: 1px solid #E6E6E6;
}

input:focus, textarea:focus, input[type='submit']:focus {
	border: 1px solid #8B32E5;
	outline: none;
}

input::placeholder, textarea::placeholder {
	color:#C3C2C3;
	font-size: 11px;
}

input[type='submit'] {
	position: relative;
	display: block;
	width: 25%;
	padding: 10px;


	border-radius: 20px;
	border: none;

	background-color: rgb(51, 51, 51);
	color: white;
}

textarea {
	margin-bottom: 20px;
	resize: vertical;
	min-height: 130px;
	max-height: 130px;
	outline: none;
}

.error {
	background: #EA4F4F;
}

.correcto {
	background: #3CBA54;
}

.error, .correcto {
	color: #ffffff;

	padding: 15px;
	text-align: center;
}

.error > li, .correcto > li {
	list-style: none;
	
}


label[for='M'], label[for='F'] {
	display: inline-block;
}

form .content) {
	border: 1px solid black;

	padding: 20px;
<<<<<<< HEAD
}

article > label, article > input {
	display: inline-block;
}
=======
}
>>>>>>> 158b28979577a2cdc9c46fae424c304ffed0a086
